:root{
  --mainBlue:#5463FF;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
@font-face {
  font-family: walk;
  src: url("./iran/eot/IRANSansWeb.eot");
  src: url("./iran/eot/IRANSansWeb.eot?#iefix") format("arada-opentype"),
    url("./iran/woff/IRANSansWeb.woff") format("woff"),
    url("./iran/ttf/IRANSansWeb.ttf") format("truetype");
}

body{
  font-family: walk !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  direction:rtl;
}
.d-flex-custom{
  display: flex;
  align-items: center;
  padding: 10px;
}
.text-title{
  text-transform: uppercase;
}
.text-right{
  text-align: right;
}
.text-custom{
  font-size: 0l.9rem;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainYellow);
}
